<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>gianmarcoii's personal website</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/mobile.css">
</head>
<body>
    <main class="lang-change">
        <div class="italian">
            <a href="/it">
                <img src="/res/it_flag.png" alt="">
            </a>
            <p>Italian</p>
        </div>
        <div class="english">
            <a href="/en">
                <img src="/res/uk_flag.png" alt="">
            </a>
            <p>English</p>
        </div>
        <div class="spanish">
            <a href="/es">
                <img src="/res/es_flag.png" alt="">
            </a>
            <p>Spanish</p>
        </div>
        <div class="french">
            <a href="/fr">
                <img src="/res/fr_flag.png" alt="">
            </a>
            <p>French</p>
        </div>
    </main>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" referrerpolicy="no-referrer"></script>
<script src="https://unpkg.com/boxicons@2.1.1/dist/boxicons.js"></script>
<script src="/js/index.js"></script>
</html>